{% extends "base.html" %}

{% load static %}

{% block content %}

<style>    
    .forms {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 25vw;
    }
    
    .btn-primary {
        margin: auto;
        width: 100%;
    }

    .content {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding-top: 30vh;
    }
</style>

<div class="content">

    <div class="forms">

        <form  action="{% url 'get-similar' %}" method=POST enctype="multipart/form-data">
            
            {% csrf_token %}

            {{ form.as_p }}

            <input type="submit" value="Submit" class="btn btn-primary">

        </form>

    </div>

</div>

{% endblock %}